{% extends "layout.html" %}
{% block swiper %}

{% endblock %}


{% block content %}
<div class="container" style="width:100%; display:flex; justify-content:center; margin-top:2em;">
    <div class="box" style=" width:50%; text-align:center;">
    <h2 style=" margin-bottom:1em;">Confirm Delete</h2>
    <p style=" margin-bottom:1em;">Are you sure you want to delete this post?</p>

    <form method="post" style=" margin-bottom:1em;">
        {% csrf_token %}
        <div style='width:100%; display:flex; justify-content:space-evenly; '>
        <button type="submit" class="button-34">Yes, Delete</button>
        <a href="{% url 'home' %}" class="button-33">Cancel</a>
    </div>
    </form>
</div>
</div>
{% endblock %}
